Nav{
    background: linear-gradient(#0000cc , #6666ff);
    height:60px;
    width: 100%;  
}
body{background-image: url("https://pubgmobile.proximabeta.com/event/pics/youtubegaming2560_1440.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    margin: 0;
    padding: 0;
}  
.section{
     
    
}


.logo{
    
    color: white;
    text-shadow: 3px 2px 10px black;
    font-family: fantasy;
    font-size:30px;
    line-height:60px;
   margin-left:-50px;
    padding:80px;
}

nav ul{
    
    float: right;
    margin-right: 20px;
}

nav ul li{
    
    display: inline-block;
    line-height: : 70px;
    margin: 1px;
}

nav ul li a{
    
    color: white;
    font-size: 15px;
    padding:5px 10px;
    border-radius: 2px;
  
      text-transform: uppercase;
}
a:hover{
    background:#000066;
    transition:.5s;
}

h2 {
   color: white;
    text-shadow: 2px 2px 2px black;
    padding-left: 5px;
    
}
.map {
    color:darkred;
    display: inline-grid;
    padding:5px;
}
    
button{
    
    margin: 5px;
    background-color:#0040ff;
    font-family:sans-serif;
    
    
}

button:hover{
    background:#002db3;
    transition: .2s;
}

.images{
    padding: 2px;
    margin: 5px;
    float: left;
    margin-top: 10px;
    display: inline-block;
    opacity: 0.7;
}

.images:hover{
    
    
    transition:0.3s;
    opacity: 1;
}
.imagess{
    padding: 2px;
    margin: 5px;
    float:right;
    margin-top: 10px;
    display: inline-block;
    opacity: 0.7;
}

.imagess:hover{
    
    
    transition:0.3s;
    opacity: 1;
}
